# Environnement virtuel
venv/

# Pycache
__pycache__/
*.pyc

# Fichiers temporaires / logs
*.log

# Variables d'environnement
.env

# Bases de données locales
database.db

# Fichiers CSV temporaires
*.csv

# IDE / éditeurs
.vscode/
.idea/

# Fichiers système
.DS_Store
Thumbs.db
